@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Welcome to SimpleBank</MudText>
<br />
<MudText Typo="Typo.body2">
        <p><strong>SimpleBank</strong> is a lightweight banking application designed for managing basic account operations through a clean and intuitive interface. It supports the following features:</p>

        <ul>
            <li>Opening and closing accounts</li>
            <li>Depositing and withdrawing funds</li>
            <li>Transferring money between accounts</li>
            <li>Viewing account balances and transaction history</li>
        </ul>

        <p>This application demonstrates the integration of a <strong>.NET 8 Web API</strong> backend with a <strong>Blazor Server</strong> front-end, offering a full-stack solution for banking operations, testing automation, and exploratory evaluation.</p>
</MudText>
